@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer components{
  .icon{
    @apply text-default-text text-xl
  }
  .btn{
    @apply hover:no-underline bg-blue-accent hover:bg-blue-acctent-hover tracking-wider w-full text-center text-nav font-bold cursor-pointer uppercase px-4 py-2 rounded-md transition-colors block;
  }
}

@layer base{
  h1,
  h2,
  h3,
  h4{
    @apply font-bold
  }
  h1{
    @apply text-4xl
  }
  h2{
    @apply text-3xl
  }
  h3{
    @apply text-2xl
  }
  h4{
    @apply text-xl
  }
  p{
    @apply text-sm text-default-text;
  }
  form{
    @apply rounded-xl p-4 
  }
  label{
    @apply mt-4 
  }
  input,select, textarea{
    @apply m-1 rounded bg-card p-1;
  }
}